.recipeWrapper{
    transform: translate(0px,50px);
}

.recipeCard{
    margin:10px;
    width:250px;
    height:300px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    flex-direction: column;
}